<div class="container">
    <h2>Relatório de Solicitações de Acesso ao Sistema</h2>
  
    <form>
      <div>
        <input type="text" id="cpf" name="cpf" mask="000.000.000-00" [(ngModel)]="cpf" #cpfField="ngModel" required>
        <div *ngIf="cpfField.invalid && cpfField.touched" class="error-message">CPF Inválido</div>

      </div>
  
      <div>
        <label for="dob">Data de Nascimento:</label>
        <input type="date" id="dob" name="dob">
      </div>
  
      <div>
        <label for="nome">Nome:<span class="required">*</span></label>
        <input type="text" id="nome" name="nome" required>
      </div>
  
      <!-- Adicione outros campos conforme necessário -->
  
      <div>
        <h3>Documentos</h3>
  
        <!-- Implemente a lógica para adicionar campos de documentos dinamicamente -->
  
        <div>
          <label for="docType">Tipo Documento</label>
          <input type="text" id="docType" name="docType">
  
          <label for="docNum">Número</label>
          <input type="text" id="docNum" name="docNum">
  
          <!-- Adicione outros campos de documento conforme necessário -->
        </div>
      </div>
  
      <button type="submit">Enviar Solicitação</button>
    </form>

    <!-- Adicione o botão para voltar para a tela de login -->
    <button (click)="voltarParaLogin()">Voltar para o Login</button>
</div>
