<div class="header">
  <div class="row title-banner">
      <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
              <img src="../../../assets/images/shipping.png" alt="Logo" class="logo">
              <h1 class="display-4 mt-3">CloudPort</h1>
              <app-navbar></app-navbar>
          </div>
          <button *ngIf="mostrarMenu" class="btn btn-outline-danger btn-sm" (click)="logout()">Sair</button>
      </div>
  </div>
</div>
