.header {
    background-color: #2a58a3;
    border-radius: 0px;
    padding: 0.3em 2em;  /* Diminui o padding vertical para 0.3em */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.logo {
    border-radius: 50%;  /* Para tornar a imagem perfeitamente redonda */
    width: 100px;
    height: 100px;
    margin-bottom: 5px;  /* Diminui o espaço abaixo do logo para 5px */
}

.title-banner h1 {
    color: #ffffff;  /* Muda a cor para branco */
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 2px;  /* Adiciona um espaçamento entre as letras */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 2);  /* Aumenta a sombra do texto para uma melhor legibilidade */
    margin-bottom: 0.3em;
    line-height: 1.2;  /* Ajusta o espaçamento entre as linhas se o título tiver mais de uma linha */
}
