/* modal.component.css */
.modal {
    position: fixed; /* Posiciona o modal em relação à janela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1000; /* Índice de empilhamento alto para sobrepor outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .close {
    position: absolute; /* Posiciona o botão em relação ao seu contêiner pai */
    top: 10px; /* Posiciona o botão 10px a partir do topo do contêiner */
    right: 10px; /* Posiciona o botão 10px a partir da direita do contêiner */
    font-size: 24px; /* Define o tamanho da fonte para 24px */
    cursor: pointer; /* Muda o cursor para um ponteiro quando o mouse estiver sobre o botão */
    color: #333; /* Cor do texto */
  }

  .save-button-container {
    text-align: right; /* Alinha o conteúdo à direita */
  }
