<nav class="app-sidebar">
    <ul>
        <li><a href="#">Navio</a>
          <ul>
            <li><a href="#">Norte</a></li>
            <li><a href="#">Nordeste</a></li>
            <li><a href="#">Sudeste</a></li>
            <li><a href="#">Centro-Oeste</a></li>
            <li><a href="#">Sul</a></li>
          </ul>
        </li>
        <li><a href="#">Carretas</a>
          <ul>
            <li><a href="#">Serviços em nuvem</a></li>
            <li><a href="#">Armazenamento</a></li>
            <li><a href="#">Computação</a></li>
          </ul>
        </li>
        <li><a href="#">Usuários</a>
          <ul>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Suporte</a></li>
          </ul>
        </li>
    </ul>
</nav>
