body {
  background: linear-gradient(to right,  #234986);
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover; /* isso fará a imagem cobrir todo o corpo */
  margin: 0;
  height: 100%;

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
