<nav class="app-navbar">
    <ul>
      <li>
        <a href="#">Configurações</a>
        <ul>
          <li><a href="#">Geral</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Segurança</a></li>
          <li><a href="#">Notificações</a></li>
          <li><a href="#">Privacidade</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Usuários</a>
        <ul>
          <li><a href="#">Lista de usuários</a></li>
          <li><a href="#">Adicionar usuário</a></li>
          <li><a href="#">Gerenciar usuários</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Ajuda</a>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Suporte</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  