<nav class="app-navbar" *ngIf="mostrarMenu">
  <ul>
    <li *ngIf="configurationTabs.length" (click)="toggleSubmenu($event)">
      <button type="button" class="submenu-trigger">Configurações</button>
      <ul>
        <li *ngFor="let tab of configurationTabs">
          <button
            type="button"
            class="submenu-item"
            [class.coming-soon]="tab.disabled"
            [disabled]="tab.disabled"
            (click)="handleTabSelection($event, tab)"
          >
            <span>{{ tab.label }}</span>
            <span *ngIf="tab.disabled" class="submenu-badge">{{ tab.comingSoonMessage || 'Em breve' }}</span>
          </button>
        </li>
      </ul>
    </li>
    <li *ngIf="gateTabs.length" (click)="toggleSubmenu($event)">
      <button type="button" class="submenu-trigger">Gate</button>
      <ul>
        <li *ngFor="let tab of gateTabs">
          <button
            type="button"
            class="submenu-item"
            [class.coming-soon]="tab.disabled"
            [disabled]="tab.disabled"
            (click)="handleTabSelection($event, tab)"
          >
            <span>{{ tab.label }}</span>
            <span *ngIf="tab.disabled" class="submenu-badge">{{ tab.comingSoonMessage || 'Em breve' }}</span>
          </button>
        </li>
      </ul>
    </li>
    <li *ngIf="userTabs.length" (click)="toggleSubmenu($event)">
      <button type="button" class="submenu-trigger">Usuários</button>
      <ul>
        <li *ngFor="let tab of userTabs">
          <button
            type="button"
            class="submenu-item"
            [class.coming-soon]="tab.disabled"
            [disabled]="tab.disabled"
            (click)="handleTabSelection($event, tab)"
          >
            <span>{{ tab.label }}</span>
            <span *ngIf="tab.disabled" class="submenu-badge">{{ tab.comingSoonMessage || 'Em breve' }}</span>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
