<nav class="app-navbar" *ngIf="mostrarMenu">
  <ul>
    <li *ngIf="configurationTabs.length" (click)="toggleSubmenu($event)">
      <a href="#">Configurações</a>
      <ul>
        <li *ngFor="let tab of configurationTabs">
          <a (click)="openTab(tab)">{{ tab.label }}</a>
        </li>
      </ul>
    </li>
    <li *ngIf="gateTabs.length" (click)="toggleSubmenu($event)">
      <a href="#">Gate</a>
      <ul>
        <li *ngFor="let tab of gateTabs">
          <a (click)="openTab(tab)">{{ tab.label }}</a>
        </li>
      </ul>
    </li>
    <li *ngIf="userTabs.length" (click)="toggleSubmenu($event)">
      <a href="#">Usuários</a>
      <ul>
        <li *ngFor="let tab of userTabs">
          <a (click)="openTab(tab)">{{ tab.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
