
<section class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngFor="let tab of tabs">
                        <a class="nav-link" [class.active]="selectedTab === tab" (click)="navigateTo(tab)">
                            <span>{{tab}}</span>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="closeTab(tab)">x</button>
                        </a>
                    </li>
                </ul>

            <!--
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        -->
        <div class="tab-content">
            <div *ngFor="let tab of tabs" [class.active]="selectedTab === tab">
                <app-tab-content [data]="tabContent[tab]"></app-tab-content>
            </div>
        </div>
        
            </div>
        </div>
    </div>
</section>
