<section class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngFor="let tab of tabs">
                      <a class="nav-link" [class.active]="selectedTabId === tab.id" (click)="navigateTo(tab.id)">
                        <span>{{tab.label}}</span>
                        <button
                          type="button"
                          class="btn btn-outline-danger btn-sm"
                          (click)="$event.stopPropagation(); closeTab(tab.id)"
                        >x</button>
                      </a>
                    </li>
                </ul>
                <div class="tab-content">
                  <router-outlet #outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
