<div class="role-container">
    <h1>Create Role</h1>

    <div class="role-form">
        <label for="roleName">Role Name:</label>
        <input type="text" id="roleName" [(ngModel)]="roleName">

        <button (click)="createRole()">Create Role</button>
    </div>

    <!-- Role Table -->
    <h1>Roles</h1>
    <table>
        <thead>
            <tr>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roles">
                <td>{{ role.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
