<!--role.component.html-->
<app-context-menu #contextMenu (optionSelected)="contextMenuOptionSelected($event)"></app-context-menu>

<app-dynamic-table 
    #gridHoleTable 
    [columns]="['Role ID', 'Role Name']" 
    [data]="roles"
    [selectedTab]="selectedTab"
    (rightClick)="handleRoleRightClick($event, contextMenu)"
    (gridReady)="onGridTableReady()">
</app-dynamic-table>


<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <h2>Cadastrar ou Editar Role</h2>
      <!-- Adicione aqui os campos de formulário para cadastrar ou editar uma role -->
      <button (click)="saveRole()">Salvar</button>
    </div>
  </div>
  