<!--dynamic-table.component.html-->
<div class="grid-container" 
(click)="closeContextMenu($event)"
(contextmenu)="closeContextMenu($event)"
>
  <div class="btn-group" role="group" aria-label="Basic example">
    <img class="icon" src="../../../assets/images/excel-4954.svg" alt="Excel" width="20" height="20" (click)="onBtExport()"/>
    <img class="icon" src="../../../assets/icons/plus-circle.svg" alt="Excel" width="20" height="20" (click)="createEntity('role')"/>
    <img class="icon" src="../../../assets/icons/edit.svg" alt="Excel" width="20" height="20"/>
    <img class="icon" src="../../../assets/icons/minus-circle.svg" alt="Excel" width="20" height="20"/>
  </div>


  <ag-grid-angular
      #gridTable
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      
      [rowData]="filteredData"
      [columnDefs]="columnDefinitions"
      [defaultColDef]="defaultColDef"
      [domLayout]="'autoHeight'"
      [animateRows]="true"
      [rowSelection]="'multiple'"
      [getContextMenuItems]="getContextMenuItems"
      (contextmenu)="onContextMenu($event)"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
      (cellDoubleClicked)="onCellDoubleClicked($event)"
      (cellContextMenu)="onCellRightClicked($event)"
      (rowClicked)="onRowClicked($event)"
      (cellContextMenu)="onCellContextMenu($event)"
    >
  </ag-grid-angular>

  <!--
<div class="grid-container"></div>   -->
<app-modal (close)="closePopup()"></app-modal>


