# Algumas libs de UI (ag-grid, ng2-charts, ngx-mask, angularx-qrcode, ngx-translate)
# ainda declaram peer dependencies de versões mais antigas do Angular. Elas são
# compatíveis via Angular linker e o build (ng build) conclui sem erros, mas a
# resolução estrita de peers do npm falha. Mantemos legacy-peer-deps até essas
# libs serem atualizadas para as versões nativas de Angular 19.
legacy-peer-deps=true
