<!-- role-cadastro.component.html -->
<div class="popup-content box">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="close" (click)="closePopup()">&times;</span> <br>
    <h2>Cadastrar ou Editar Role</h2>
    <div class="form-group">
      <label for="roleName">Role Name:</label>
      <input type="text" id="roleName" formControlName="roleName" class="form-control">
    </div>
    <div class="form-group">
      <label for="roleDescricao">Descrição:</label>
      <input type="text" id="roleDescricao" formControlName="roleDescricao" class="form-control">
    </div>
    <br>
    <br>
    <div class="save-button-container">
      <button class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
